html{
	height: 100%;
}
body {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
}

ul.nav.nav-tabs.tabs-left{
	min-height: 80vh;
}

#visual_panel{
	min-height: 80vh;
}

div.element{
	border-radius: 5px;
	border: 3px solid black;
	display: inline-block;
	position: absolute;
}

div.select div.column{
	text-align: center;
}