html{
	height: 100%;
}
body {
	position: absolute;
	min-height: 100%;
}

#visual_panel{
	height: 70%;
}

div.element{
	border-radius: 5px;
	border: 3px solid black;
	display: inline-block;
	position: absolute;
}

div.select div.column{
	text-align: center;
}